{% extends '_layouts/base.njk' %}

{% block page_title %}Pirate website for sailors{% endblock %}

{% block content %}

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
    <h1>The Diary of Captain Crit McGillicutty</h1>
    <p class="date"> Published May 25, 1977</p>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-6 offset-sm-3">
      <p>
        Check out the Ship's Log pages for an inside look at the life of the ship's captain, Crit McGillicutty. From violent storms to unruly krakens, you'll never know what's in store for McGillicutty!
      </p>
      {% for entry in data.entries %}
        <h3 class="entry-headline"><a href="{{ entry.url }}">{{ entry.title }}</a></h3>
        <p class="entry-date">{{ entry.date }}</p>
        <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
